.heroMessage {
  color: inherit;
}

.heroMessage__heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
}

.heroMessage__body {
  font-size: 1.6rem;
  padding-top: 2.5rem;
  padding-right: 5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(2.5px);
  box-shadow: none;
}

/* CALL-TO-ACTION BUTTON */

.btn-cta {
  height: 5.6rem;
  width: 100%;
  background-color: var(--color-purple);
  color: #fff;
  border: none;
  border-radius: 1rem;
}

.btn-cta__text {
  font-size: 1.6rem;
}

.btn-cta__text--bold {
  font-weight: 700;
}

.btn-cta__text--light {
  font-weight: 100;
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 4rem;
}

.form__input {
  height: 5.6rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border: 1px solid var(--color-gray-xlight);
  border-radius: 0.5rem;
  color: var(--color-gray);
  font-family: inherit;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-purple);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-gray-light);
}

.btn-submit {
  height: 5.6rem;
  background-color: var(--color-green);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
}

.form__terms {
  margin-top: 2rem;
  align-self: center;
}

.form__terms--text {
  color: var(--color-gray-light);
}

.form__terms--text::after {
  content: " ";
}

.form__terms--link {
  color: var(--color-pink);
  text-decoration: none;
}
